.sortable-ghost {
    opacity: 0.5;
    background: #c8ebfb;
}

.tailwind-navigation-svg {
    width: 20px;
    height: 20px;
}

*,
html * {
    scrollbar-width: thin;
    scrollbar-color: #0ea5e8 #bacbce;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
    background: #bacbce;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
    background-color: #0ea5e8;
    border-radius: 5px;
    border: 3px solid #bacbce;
}

@media (max-width: 768px) {
    #sidebar {
      margin-left: -253px;
    }
    #preview {
      margin-left: 0;
    }
  }